/* Start section sign up */

.sign_up{
    background-color:  #F7941E;
    padding-top: 80px;
    padding-bottom: 68px;
}

.sign_up_title{
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4;
}

.sign_up_text{
    font-size: 32px;
    line-height: 1.4;
}

.black_button{
    color: white;
    background-color: #231F20;
    border-color: #231F20;
    margin-right: 16px;
}

.orange_button{
    color: black;
    border-color: black;
}

.wrapper_sign_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End section sign up */